.formInput {
  height: 50px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.144);
  border-radius: 20px 0 0 20px;
  border: none;
  transition: 450ms transform;
  padding: 0 20px;
  width: 240px;

  &:hover {
    transform: scale(1.02);
  }
}

.argumentButton {
  height: 50px;
  width: 50px;
  border-radius: 0 12px 12px 0;
  border: none;
  background-color: #991da2;
  transition: transform 400ms;
  color: white;
  font-weight: bolder;

  &:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 800px) {
  .formInput {
    width: 100px;
  }
}

.errorArgument {
  text-align: left;
  font-weight: lighter;
  color: red;
}
