.Clubb {
  margin: auto;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.144);
  max-width: 30%;
  color: black;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 80px;
  text-align: left;
  padding: 20px;
  padding-left: 20px;
  padding-bottom: auto;
  height: inherit;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .name {
    font-weight: bold;
  }

  .topic {
    font-weight: lighter;
  }

  .question {
    font-weight: lighter;
    color: #991da2;
  }

  .text-container {
    margin-left: 10%;
  }
}

@media screen and (max-width: 1400px) {
  .Clubb {
    max-width: 50%;
    margin-left: 30%;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
